{
  "serpapi": { 
    "api_key": { 
      "v1": "REPLACE_WITH_SERPAPI_KEY" 
    } 
  },
  "openai": { 
    "api_key": { 
      "v1": "REPLACE_WITH_OPENAI_KEY" 
    } 
  },
  "gmail_send": { 
    "api_key": { 
      "v1": "REPLACE_WITH_GMAIL_KEY" 
    } 
  }
}
